*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Koulen', cursive;
    background:rgb(98, 156, 211);
    margin: 0;
}

/*Barra scroll*/

body::-webkit-scrollbar{
    width: 15px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
    border-radius: 5px;
}