@media screen and (max-width: 900px){
    .home{
        height:100vw;
        margin-top:20rem;
    }

    .home-title {
        font-size: 2rem;
        flex-wrap:wrap;
    }
    .home-title:hover{
        font-size: 3rem;
    }
    
    .about{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    
    .about img{
        width:300px;
        height:250px;
    }
    .about-text{
        text-align:center;
        width:90vw;
    }

    .slider .slide-track{
        width: calc(100px * 14);
    }
    
    .slider .slide{
        width:100px;
    }

    @keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-100px * 7));
        transform: translateX(calc(-100px * 7));
    }
    }

    .card-1{
        flex-direction: column;
        height:auto;
    }

    .card-1 .contenido{
        width:80%;
    }

    .card-1 img{
        width:100%;
        height:auto;
        box-shadow:none;
    }

    .contact-card{
        width:max-content;
        height:max-content;
        margin:0px 50px;
    }
}

@media screen and (max-width: 450px){
    .header{
        display:none;
    }
    .go-top-container{
        display:none;
    }

    
}
    